body{
    
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0px;
    
}


h1{
    font-size: 45px;   
}
.firs-font-color{
    color: rgb(255, 0, 217);
    
    
}
.w{
    color: rgb(255, 0, 0);
    
}
.l{
    color: rgb(0, 64, 255);
}
.o{
    
    color: rgb(208, 0, 255);
}
.e{
    
    color: rgb(26, 255, 0);
}


.flex-area{
    
    display: flex;
    margin-bottom: 65px;
    
}
.half-width{
    width: 50vw;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 15px;
}
.half-width img{
    width: 80%;
    margin-top: 30px;
    
}

.link-btn{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 0, 225), rgb(208, 0, 255));
    border-radius: 0.5vw;
    padding: 1vw 2vw;
    color: aliceblue;
    font-weight: 700;
    margin-left: 0.5vw;
    
}
.font-left{
    margin-top: 0px;
}
p{
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
}
.world{
    color: rgb(255, 0, 217);
    margin-left: 100px; 
}
.wel-left{
    margin-left: 45px;
}
.dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.section3-left{
    margin-top: 140px;
    margin-left: 30px;
}
.experience-color{
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 0, 0);
}
.experienc-area{

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    width: 50%;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 30px;
    border-left: 5px solid rgb(255, 0, 217);
    box-shadow: 10px 10px 30px gray;
}
h2{
    font-size: 40px;
}
#full-stack-developer{
    border-left: 5px solid tomato;
}

#dream-id{
    
    margin-right: 100px;
}

footer{
    
    text-align: center;
    
}
h3{
    font-size: 22px; 
}
a{
    font-size: 16px;
    
}
p{
    font-size: 16px;
    
}
@media screen and (max-width:600px) {
    .dream-big{
        flex-direction: column;
        background: none;
        width: 100%;
    }
    h1{
        font-size: 26px;
    }
    .dream-big img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .dream-id{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .world{
        color: rgb(255, 0, 217);
        margin-left: 55px; 
    }
    .wel-left{
        margin-left: 26px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
    .flex-area{
        flex-direction: column;
    }
    .flex-area img {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .welcome-id{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .baby-web-developer{
        width: 100%;
    }
    .full-stack-developer{
        width: 100%;
    }
}